*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 /* Utilities da eliminare alla fine */
 .h_50{
    height: 50px;
 }
 .h_100{
    height: 100px;
 }
 .h_150{
    height: 150px;
 }

 .w_100{
    width: 100px;
 }
 .w_200{
    width: 200px;
 }
 .h_full{
    height: 100vh;
 }
 .h_60{
    height: 60px;
 }
 .h_20{
    height: 20px;
    background-color: brown;
 }

 .background_red{
    background-color: red;
 }
 .background_blue{
    background-color: blue;
 }
 .background_green{
    background-color: green;
 }
 .background_yellow{
    background-color: yellow;
 }
 /* Utilities da eliminare alla fine */
 /* Inizio search bar */
 .searchbar{
    height: 60px;
    display: flex;
    align-items: center;
 }
 /* Inizio sidebar */
 .sidebar{
    margin-top: 60px;
 }
 /* Inizio main */
 main{
    height: 100%;
    padding-top: 60px;
    padding-left: 200px;
    width: 100vw;
    background-color: orange;
 }

