*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 body{
   font-family: 'Roboto', sans-serif;
 }
 /* Utilities da eliminare alla fine */
 .h_50{
    height: 50px;
 }
 .h_100{
    height: 100px;
 }
 .h_150{
    height: 150px;
 }
 .w_20{
    width: 20px;
 }
 .w_100{
    width: 100px;
 }
 .w_200{
    width: 200px;
 }
 .h_full{
    height: 100vh;
 }
 .h_60{
    height: 60px;
 }
 .h_20{
    height: 20px;
    background-color: brown;
    border: 1px solid black;
 }

 .background_red{
    background-color: red;
 }
 .background_blue{
    background-color: blue;
 }
 .background_green{
    background-color: green;
    border: 1px solid black;
 }
 .background_yellow{
    background-color: yellow;
 }
 /* Utilities da eliminare alla fine */
 /* Inizio search bar */
 .searchbar{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: rgb(245, 242, 242);
 }
 .search_bar{
   padding-left: 5px;
   background-color: white;
   border-radius: 8px;
   background-color: rgb(233, 228, 228);
 }
 .search_background{
   background-color: rgb(233, 228, 228);
 }
 /* Inizio sidebar */
 .sidebar{
    margin-top: 60px;
    width: 150px;
    height: 100vh;
    padding-bottom: 75px;
    padding-top:15px;
    background-color: rgb(1, 30, 70);
    background-image: url(../img/sidebar-bg.png);
 }
 .p-2{
   cursor: pointer;
 }
 .p-1:hover, .hov_ad:hover{
   background-color: rgba(255, 255, 255, 0.411);
 }
 /* Inizio main */
 main{
    height: 100%;
    padding-top: 60px;
    padding-left: 150px;
    width: 100vw;
 }
 .fs_custom{
   font-size: 0.9rem;
 }
 .fa-trash, .fa-pen{
   font-size: 0.8rem;
   border: 1px solid gray;
   color:gray;
   border-radius: 5px;
   padding: 5px;
 }
 .w_100{
   width: 100%;
 }
 .fa-code{
   padding: 6px 4px;
   background-color: rgb(247, 120, 46);
   border-radius: 50%;
   margin-right: 4px;
   color:white;
 }
 .badge{
   background-color: rgba(0, 0, 0, 0.137);
 }
.fa-plus{
   background-color: rgba(0, 0, 0, 0.137);
   border-radius: 45%;
   padding: 7px;
   font-size: 0.6rem;
}

 @media screen and (max-width: 768px){
    .sidebar{
        width: 70px;
    }
    main{
        padding-left: 70px;
    } 
 }
 @media screen and (max-width: 576px){
   .d_none{
      display: none;
   }
}